.wrapper-div{
    width: 1000px;
    min-height: 500px;
    outline: 1px dotted red;
}


label{
    /*width: 300px;*/
    /*height: 100px;*/
    margin-top: 30px;
    display: block;
}

input{
    height: 70px;
    width: 400px;
    font-size: 2em;
    padding-left: 20px;
}


h1{
    display: inline-block;
    vertical-align: top;

}

span{
    color: red;
    font-size: 1.5em;
    margin-left: 20px;
}


table{
    font-size: 1.3em;
}

th{
    background: rgba(0,0,0,0.2);
}
td{
    min-width: 150px;
}

